@charset "UTF-8";
/* Insert your custom CSS styles */

h1,
.title-box h1.title{
    font-size: 30px;
}
.title-box h1.title{
    font-weight: bold;
    text-align: center;
}
#block-views-orari-di-apertura-block .title-box h1.title{
    text-align: left;
}
h3, h5 {
    letter-spacing: 1px;
}
.view-footer a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
p {
    font-size: 15px;
    text-align: justify;
}
.title-box {
    border-bottom: 0;
}
.title-box:before {
    display: none;
}
.image_overlay {
    margin-bottom: 0;
}

.phone-header a svg path,
.search-header a svg path,
.product .actions a svg path,
.sidebar .wishlist .add-cart:hover path,
.header .cart-header .dropdown-toggle .icon svg path,
.search-active .search-submit svg path,
.new-checkbox svg polygon,
.product-bottom .related-products li .button-box .wishlist:hover svg path,
.jslider .jslider-pointer svg path,
.rating-box .rating svg polygon,
.search-result .search-form .search-submit svg path {
    fill: white;
}
#top-box{
    background-color: black;
}
.page-box-content {
    background-image: url('/sites/all/themes/progressive/progressive_sub/img/trama.png');
    background-color: #ffffff;
    background-size: 1000px;
}
.fixed-header.background-opacity .header-wrapper {
    background: #847552;
}
.fixed-header .header-wrapper,
.TitoloHeader,
#sidebar .view .item-list ul li:hover,
.sidebar .tags a,
.image_overlay .description{
    background-color: #847552;
}
.panel-group .panel .panel-heading > .panel-title > a,
.panel-group .active.panel > .panel-heading > .panel-title > a,
.panel-group .active.panel > .panel-heading > .panel-title > a:hover,
.view-footer a,
.title-box h1.title,
h5,
.BloccoBodyDue .title-box .title,
h6,
h5 a,
h5 a:visited,
.body-margin-bottom a,
.node-type-eventi h1,
.wrapping-events-icons .field-label-above b,
#sidebar .title-box h3,
#sidebar .view .item-list ul li a:before,
.labelWW,
.altezzaBloccoSedi a,
.altezzaBloccoSedi a:visited,
.readRistoDue a{
    color: #847552;
}
.image_overlay img {
    border-bottom: 5px solid #847552;
}
.container.rigaInterna {
    border-top: 5px solid #847552;
    border-bottom: 5px solid #847552;
    padding: 50px;
    background-color: white;
    margin-top: 30px;
    height: 1115px;
}
.node-type-eventi h1 {
    font-weight: bold;
}

.node-type-eventi #content,
.node-type-game #content{
    padding: 50px;
    margin-top: 30px;
    background-color: white;
}
.node-type-contenitorepagina #content{
    margin-top: 30px;
    background-color: white;
}
.nd-region {
    padding: 0;
}
#block-views-listaeventi-block,
#block-views-listaeventi-block-1 {

    padding-top: 50px;
    padding-bottom: 50px;
}
.node-type-eventi .field-name-field-immagini {
    margin: 30px 0;
}
.view-EventsTop .content-block,
.HeaderHome{
    border-bottom: 5px solid #847552;
}
/* MENU */
.navbar {
    font-size: 14px;
}
.header .primary .navbar .nav > li > a,
.header .primary .navbar .nav > li > a:visited  {
    color: white;
}
/* SIDEBAR */
#sidebar .title-box {
    margin-bottom: 0;
}
#sidebar .title-box .title{
    font-size: 20px;
    padding-top: 0;
    font-weight: bold;
    text-transform: uppercase;
}
#sidebar {
    background-color: white;
    padding: 55px 30px 30px 30px;
    margin-left: 50px;
}

#sidebar .view .item-list ul li:last-child {
    border-bottom: 0px;
}

#sidebar .view .item-list ul li {

    overflow: hidden;
    line-height: 20px;
    -webkit-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -o-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms;
    margin: 0px;
    padding: 0px;
}
#sidebar .view .item-list ul li a {
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
    position: relative;
    float: left;
    -webkit-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -o-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms;
    color: #000000;
    outline: none;
}
#sidebar .view .item-list ul li a:hover {
    color: #fff!important;
    padding-left: 35px;
}
#sidebar .view .item-list ul li a:before {
    content: "\f111";
    font-family: FontAwesome;
    position: absolute;
    font-size: 5px;
    top: 2px;
    left: 0px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.views-summary li {
    color: #9d9d9d;
    font-style: italic;
}
.sidebar .widget {
    margin: 0 0 30px;
}

.sidebar .tags li {
    float: left;
    margin: 0 3px 3px 0;
}
/* Home */
.HeaderHome {
    padding-top: 449px;
    padding-bottom: 328px;

}

.sezione {
    height: 0px;
    visibility: hidden;
    position: relative;
    top: -200px;
}
#section05 a {
    padding-top: 25px;
}

.demo a {
    color: transparent;
    position: absolute;
    bottom: -100px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

#section05 a span {
    color: transparent;
}

#section05 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
.mb_YTPBar {
    display: none!important;
}
/* CONTENUTO HEADER */
#block-views-fourblock-block .title-box,
.view-EventsTop {
    text-align: center;
}

#block-views-eventstop-block .title-box {
    display: none;
}
.view-EventsTop .content-block {
    padding: 0;
    margin-bottom: -33px;
}
.content-block > p,
.demo+p{
    display: none;
}
.view-EventsTop #section05 {
    left: 50%;
    position: absolute;
    bottom: 300px;
    z-index: 100;
}
.TitoloHeader {
    position: relative;
    padding: 15px 50px 10px 50px;
    margin: 0 auto;
    display: inline;
    color: white;
    bottom: 7px;
}
.content-block .video-box,
.caption img{
    margin-bottom: 0;
}
.content-block .caption {
    margin-bottom: -6px;
}
.player .controls {
    display: none!important;
}

/* BODY EVENTI */
.wrapping-events-icons {
    height: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.events-icons-dove {
    width: 30px;
    float: left;
}
.events-icons {
    width: 40px;
    float: left;
}
.field-label-above .colon, b .colon {
    display: none;
}
.node-type-eventi .field-label-above {
    font-size: 20px;
    margin-left: 65px;
    line-height: 18px;
}
.wrapping-events-icons .field-label-above b {
    letter-spacing: 1px;
}
.field-name-field-when .date-display-single,
.field-name-field-when .date-display-range,
.field-name-field-where a {
    font-size: 14px;
    color: black;
}
.wrapping-events-icons .field-label-above b {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    line-height: 20px;
}
.blink_me {
    animation: blinker 2s linear infinite;
}
#progressive_cms-menu {
    margin-bottom: -1px;
}

/* LISTA EVENTI */
#block-views-listaeventi-block .title-box,
#block-views-listaeventi-block-1 .title-box{
    display: none;
}
.view-eventlist .views-row {
    margin-bottom: 40px;
}
.view-listaeventi .views-row .col-md-3.views-fieldset {
    text-align: center;
}


.categoriaEvento {
    background-color: #847552;
    height: 26px;
    color: white;;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 3px;
}
.categoriaEvento a {
    color: white;
    pointer-events: none;
    cursor: default;
}
.view-listaeventi h5 a {
    text-transform: uppercase;
    font-weight: bold;
}
.view-listaeventi h5 {
    margin: 0;
}
.body-margin-bottom {
    margin-bottom: 7px;
    line-height: 20px;
}
.view-listaeventi p {
    margin-bottom: 0px;
    text-align: justify;
}
.more-link {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 5px;
}
.colonna-event-list {
    padding-left: 0px;
}

.colonna-event-list img {
    margin-right: 10px;
}

.iconaListEvents {
    width: 24px;
    margin-top: 2px;
    float: left;
}
.iconaListEventsWhen {
    width: 35px;
    margin-top: 2px;
    float: left;
}
.labelWW {
    margin-bottom: -5px;
}

/* SEDI */
.BloccoBody {
    padding: 50px;
    background-color: white;
    margin-top: 30px;
    height: 320px;
}

.BloccoBodyDue {
    padding: 50px;
    background-color: white;
    margin-top: 30px;
}

.readRistoDue {
    position: absolute;
    bottom: 40px;
    width: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.bordoOro {
    border: 1px solid #847552;
    padding: 10px 20px;
}

/* SEDI */
.image_overlay .description {
    text-align: center;
    font-size: 23px!important;
    line-height: 22px;
    padding: 15px 40px 10px 40px!important;
    margin: 0 70px;
}
.altezzaBloccoSedi .title-box {
    display: none;

}
.altezzaBloccoSedi {
    margin-top: 30px;
}
.rigaInterna h5 {
    font-weight: bold;
}

.altezzaBloccoSedi h5,
.title-h5{
    margin-bottom: 9px;
}
h6,
.altezzaBloccoSedi p{
    margin:0;
}
p.iconaBloccoSedi {
    margin-bottom: 10px;
}
#block-views-orari-di-apertura-block:before,
#block-views-orarisedi-block:before,
#block-views-orarisedi-block-1:before{
    content: url(/sites/default/files/time.svg);
    display: block;
    width: 30px;
    height: 30px;
}

.BloccoBodyDue .title-box .title  {
    font-size: 20px;
    font-weight: bold;
}

.view-orarisedi .views-row-1 {
    margin-bottom: 20px;
}
.view-footer {
    padding: 10px;
    border: 2px solid #847552;
    text-align: center;
    width: 45%;
    margin: 60px auto 20px auto;
}
.view-footer p {
    text-align: center;
}
/* GIOCHI */
#block-views-dovegiocare-block:before {
    content: url(/sites/default/files/dove.svg);
    display: block;
    width: 25px;
    height: 36px;
}
#block-views-probabilita-di-vincita-block:before,
#block-views-dovegiocare-block:before,
#block-views-orari-di-apertura-block:before{
    margin-bottom: 10px;
}

.rigaBloccoInfo {

    line-height: 18px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.rigaBloccoInfo p {
    text-align: left;
}
.panel-group .panel .panel-heading > .panel-title > a:before,
.panel-group .panel .panel-heading > .panel-title > a:after {
    content: url(/sites/default/files/apri.svg);
    display: block;
    width: 25px;
    margin: 8px 0 0 15px;
    height: 0px;
}
.panel-group .active.panel > .panel-heading > .panel-title > a:before,
.panel-group .active.panel > .panel-heading > .panel-title > a:after{
    content: url(/sites/default/files/chiudi.svg);
}
.panel-group > .panel-default > .panel-heading > .panel-title > a,
.panel-group .active.panel > .panel-heading > .panel-title > a,
#block-block-42 .block-content{
    background-color: #ffffff;
}
.panel-group > .panel-default > .panel-heading > .panel-title > a,
.panel-group .active.panel > .panel-heading > .panel-title > a {
    background-color: white!important;
}
#block-views-probabilita-di-vincita-block:before {
    content: url(/sites/default/files/percent.svg);
    display: block;
    width: 25px;
    height: 25px;
}
.rigaBloccoInfo .views-field-field-titolo {
    font-weight: bold;
}
.views-field-field-hold .field-content, .views-field-field-rtp .field-content, .views-field-field-cagnotte .field-content {
    display: inline;
}

.rigaBloccoInfo, .views-field-field-hold-text, .views-field-field-rtp-text {
    margin-bottom: 20px;
}

#block-views-fourblock-block {
    padding-top: 40px;
    padding-bottom: 30px;
    border-top: 5px solid #847552;
    border-bottom: 5px solid #847552;
    background: white;
}
#block-views-fourblock-block .title-box {
    margin-bottom: 0px;
}
#block-views-fourblock-block .block-content {
    padding-left: 30px;
    padding-right: 30px;
}
.view-display-id-block {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}